* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
.max-width-wrapper{
  max-width: 60%;
  margin: 0 auto;
  margin-top: 5%;
}

strong{
  color: hsl(160deg, 100%, 30%);
}

.intro-chunk{
  max-width: 415px;
}

.title{
  margin-bottom: 48px;
}

header{
  border-bottom: 8px solid #999;
  padding-bottom: 64px;
}

main .max-width-wrapper{
  margin-top: 0;
  max-width: 800px;
  margin-left: 17%;

  
}
.card{
  background-color: white;
  padding: 10px;
  border-bottom: 8px solid #999;}

main{
  background-color: #666666;
  padding: 72px;
  height: 100%;
}

.indented-heading{
  background: #FFBF00;
  width: fit-content;
  padding: 10px;
  border-bottom: 8px solid #C90;
  margin-left: -15px;
  margin-top: -5px;
  
}

@media(max-width: 768px){
  .indented-heading{
    margin-left: -10px;
  }
  main .max-width-wrapper{
    
    max-width: 100%;
    margin-left: 0;
   
  
    
  }
  main{
    padding: 0;
    padding-top: 72px;
    
  }
 
}

@media(max-width: 390px){
  header > .max-width-wrapper{
    margin-left: 24px;
  }
  .card .indented-heading{
    padding-right: 30px;
  }
  .card p{
    padding-right: 10px;
  }
}